<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/vite.svg" />
		<link
			rel="stylesheet"
			href="style.css" />
		<title>Development</title>
	</head>
	<body>
		<div id="wrapper">
			<main>
				<h1>@custom-bits/boilerplate</h1>
				<custom-test></custom-test>
			</main>
		</div>
		<script type="module">
			import './src/index.ts';
			// console.log('development %o', 'boilerplate');

			const main = document.querySelector('main');
			await customElements.whenDefined('custom-test');

			let elt = document.querySelector('custom-test');
			elt.setAttribute('name', 'Appended');

			elt = document.createElement('custom-test');
			elt.setAttribute('name', 'Before');
			main.appendChild(elt);

			elt = document.createElement('custom-test');
			main.appendChild(elt);
			elt.setAttribute('name', 'After');

			console.log(elt);
		</script>
	</body>
</html>
