<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/vite.svg" />
		<link
			rel="stylesheet"
			href="style.css" />
		<title>Development</title>
	</head>
	<body>
		<div id="wrapper">
			<main>
				<h1>@custom-bits/core</h1>
			</main>
		</div>
		<script type="module">
			import { defineElement } from './src/index.ts';
			console.log(typeof defineElement);
		</script>
	</body>
</html>
